In [ ]:
!pip3 install pandas==1.0.5

Requirement already satisfied: pandas==1.0.5 in /usr/local/lib/python3.6/dist-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas==1.0.5) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas==1.0.5) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas==1.0.5) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas==1.0.5) (1.15.0)

In [ ]:
import pandas as pd
print(pd.__version__ == '1.0.5')

True

# BB100

In [ ]:
df = pd.read_csv('/content/billboardHot100_1999-2019.csv', index_col=0, engine='python',encoding='utf-8', error_bad_lines=False) 
df_new = df.drop(['Lyrics', 'Writing.Credits','Features'], axis=1)
df_new.head(3)

                        Artists  ...                                              Genre
1                      Lil Nas,  ...  Country,Atlanta,Alternative Country,Hip-Hop,Tr...
2  Shawn Mendes, Camila Cabello  ...                                                Pop
3                 Billie Eilish  ...  Hip-Hop,Dark Pop,House,Trap,Memes,Alternative ...

[3 rows x 8 columns]

In [ ]:
df_new['Artists'] = df_new['Artists'].str.split(',').tolist()
df_new = df_new.explode('Artists')
df_new['Artists'] = df_new['Artists'].replace(r'^\s*$', np.nan, regex=True)
df_new.head(3)

        Artists  ...                                              Genre
1       Lil Nas  ...  Country,Atlanta,Alternative Country,Hip-Hop,Tr...
1           NaN  ...  Country,Atlanta,Alternative Country,Hip-Hop,Tr...
2  Shawn Mendes  ...                                                Pop

[3 rows x 8 columns]

In [ ]:
BB_200 = df_new
BB_200.columns = ['Artists', 'AlbumName','WeeklyRank','Peak','WeeksChart','Week','Date','Genre']
BB_200['Peak'] = BB_200['Peak'].fillna(0)
BB_200['Peak'] = BB_200['Peak'].astype(int)
BB_200['WeeksChart'] = BB_200['WeeksChart'].fillna(0)
BB_200['WeeksChart'] = BB_200['WeeksChart'].astype(int)
BB_200 = BB_200.dropna()
BB_200.head(5)

           Artists  ...                                              Genre
1          Lil Nas  ...  Country,Atlanta,Alternative Country,Hip-Hop,Tr...
2     Shawn Mendes  ...                                                Pop
2   Camila Cabello  ...                                                Pop
3    Billie Eilish  ...  Hip-Hop,Dark Pop,House,Trap,Memes,Alternative ...
4           Khalid  ...                                      Synth-Pop,Pop

[5 rows x 8 columns]

In [ ]:
BB_final = BB_200[BB_200['WeeklyRank']<=20]
BB_final.describe()

         WeeklyRank          Peak    WeeksChart
count  19344.000000  19344.000000  19344.000000
mean      10.476272      6.862852     14.773211
std        5.762507      5.524167      8.721753
min        1.000000      0.000000      0.000000
25%        5.000000      2.000000      8.000000
50%       11.000000      5.000000     14.000000
75%       15.000000     11.000000     20.000000
max       20.000000     20.000000     75.000000

In [ ]:
BB_final[['Artists','AlbumName','Week','Date','Genre']].describe()

        Artists  AlbumName        Week           Date  Genre
count     19344      19344       19344          19344  19344
unique      657       1538        1016           1185    880
top     Rihanna  I Like It  2018-10-20  April 6, 2018    Rap
freq        381        104          30            104   1470

In [ ]:
BB_final.dtypes

Artists       object
AlbumName     object
WeeklyRank     int64
Peak           int64
WeeksChart     int64
Week          object
Date          object
Genre         object
dtype: object

In [ ]:
#save to csv
from google.colab import files
BB_final.to_csv('BB_final.csv', header=True, index=False, sep='\t', mode='a')
files.download('BB_final.csv')

# Spotify

In [ ]:
import pandas as pd
Spotify = pd.read_csv('/content/Spotify_new.csv', index_col=0) 
Spotify.reset_index(inplace=True)
Spotify.head(3)

             Name      Artist   Streams        Week
0  In My Feelings       Drake  30747676  2018-07-20
1    Lucid Dreams  Juice WRLD  12930705  2018-07-20
2         Nonstop       Drake  12312859  2018-07-20

In [ ]:
Spotify.dtypes

Name       object
Artist     object
Streams     int64
Week       object
dtype: object

In [ ]:
Spotify[['Name','Artist','Week']].describe()

                   Name       Artist        Week
count             26395        26395       26395
unique             2525          595         132
top     Congratulations  Post Malone  2018-04-06
freq                132         1029         200

# Artist

In [ ]:
A_df = pd.read_csv('artistDf.csv') 
A_df = A_df.drop(['X'], axis=1)
A_df.columns = ['Artists', 'Follwers','Genres','NumAlbums','YearFirstAlbum','Gender','GroupSolo']
A_df.head(3)

In [ ]:
A_df.describe()

In [ ]:
A_df[['Artists','Genres','Gender','GroupSolo']].describe()

              Artists  ... GroupSolo
count            1035  ...      1019
unique           1034  ...         2
top     Reba McEntire  ...      Solo
freq                2  ...       687

[4 rows x 4 columns]

In [ ]:
A_df.dtypes

Artists           object
Follwers           int64
Genres            object
NumAlbums          int64
YearFirstAlbum     int64
Gender            object
GroupSolo         object
dtype: object

In [ ]:
from google.colab import files
A_df.to_csv('Artists.csv', header=True, index=False, sep='\t', mode='a')
files.download('Artists.csv')

# Grammy

In [ ]:
GrammyAlbums = pd.read_csv('grammyAlbums_199-2019.csv') 
GrammyAlbums= GrammyAlbums.drop(GrammyAlbums.columns[0], axis=1)
GrammyAlbums.head(3)

                              Award  GrammyYear  ...        Album           Artist
0                 Album Of The Year        2018  ...  Golden Hour  Kacey Musgraves
1  Best Traditional Pop Vocal Album        2018  ...       My Way    Willie Nelson
2              Best Pop Vocal Album        2018  ...    Sweetener    Ariana Grande

[3 rows x 5 columns]

In [ ]:
print(len(GrammyAlbums))
GrammyAlbums.groupby(['Award','GrammyYear']).ngroups
#GrammyAlbums.dtypes

935

935

In [ ]:
GrammyAlbums.to_csv('GrammyAlbums.csv', header=True, index=False, sep='\t', mode='a')
files.download('GrammyAlbums.csv')

In [ ]:
GrammySongs = pd.read_csv('grammySongs_1999-2019.csv') 
GrammySongs= GrammySongs.drop(GrammySongs.columns[0], axis=1)
GrammySongs= GrammySongs.drop(GrammySongs.columns[0], axis=1)
GrammySongs.head(3)

                 GrammyAward  ...            Artist
0         Record Of The Year  ...  Childish Gambino
1           Song Of The Year  ...  Childish Gambino
2  Best Pop Solo Performance  ...         Lady Gaga

[3 rows x 5 columns]

In [ ]:
GrammySongs.columns = ['GrammyAward','GrammyYear','Genre','SongName','Artist']
GrammySongs.head(3)

                 GrammyAward  ...            Artist
0         Record Of The Year  ...  Childish Gambino
1           Song Of The Year  ...  Childish Gambino
2  Best Pop Solo Performance  ...         Lady Gaga

[3 rows x 5 columns]

In [ ]:
print(len(GrammySongs))
GrammySongs.groupby(['GrammyAward','GrammyYear']).ngroups

428

428

In [ ]:
GrammySongs[['GrammyAward','Genre','SongName','Artist']].describe()

             GrammyAward Genre       SongName Artist
count                428   428            428    417
unique                42    11            362    268
top     Song Of The Year  Rock  Beautiful Day  Adele
freq                  20    76              3      8

In [ ]:
GrammySongs.to_csv('GrammySongs.csv', header=True, index=False, sep='\t', mode='a')
files.download('GrammySongs.csv')

# Song Attributes

In [ ]:
SongAttributes = pd.read_csv('songAttributes_1999-2019.csv')
SongAttributes = SongAttributes.drop(SongAttributes.columns[0], axis=1)
SongAttributes = SongAttributes.drop(['Acousticness','Danceability','Duration','Energy','Instrumentalness','Liveness','Loudness','Speechiness','Valence'],axis=1)
SongAttributes.head(3)

                              Album           Artist  ...    Tempo  TimeSignature
0  Collective Soul (Deluxe Version)  Collective Soul  ...  106.022              4
1  Collective Soul (Deluxe Version)  Collective Soul  ...  120.027              4
2  Collective Soul (Deluxe Version)  Collective Soul  ...  144.061              4

[3 rows x 8 columns]

# RIAA

In [ ]:
import pandas as pd
riaaAlbum = pd.read_csv('riaaAlbumCerts_1999-2019.csv')
riaaAlbum = riaaAlbum.drop(riaaAlbum.columns[0], axis=1)
riaaAlbum.head(3)

            Album  ...                                              Label
0   GREATEST HITS  ...                                             LEGACY
1     THE REMIXES  ...                                           COLUMBIA
2           VIEWS  ...   REPUBLIC RECORDS / CASH MONEY RECORDS / YOUNG...

[3 rows x 4 columns]

In [ ]:
print(len(riaaAlbum))
riaaAlbum.groupby(['Album','Artist']).ngroups

1731

1725

In [ ]:
from google.colab import files
riaaAlbum.to_csv('riaaAlbum.csv', header=True, index=False, sep='\t', mode='a')
files.download('riaaAlbum.csv')

In [ ]:
riaaSingle = pd.read_csv('riaaSingleCerts_1999-2019.csv')
riaaSingle = riaaSingle.drop(riaaSingle.columns[0], axis=1)
riaaSingle.columns = ['SongName','Artist','RiaaStatus','Label']
riaaSingle.head(3)

     SongName  ...                                       Label
0  Wish Wish   ...                          We the Best / Epic
1    Level Up  ...                  Beauty Marks Entertainment
2  Con Calma   ...  Universal Music Latino / El Cartel Records

[3 rows x 4 columns]

In [ ]:
# print(len(riaaSingle))
# riaaSingle.groupby(['SongName','Artist']).ngroups

In [ ]:
riaaSingle.describe()

       SongName Artist RiaaStatus             Label
count      2601   2601       2601              2601
unique     2395    521         20               311
top        Home  Drake       Gold  Atlantic Records
freq          6     71       1109               159

In [ ]:
riaaSingle.to_csv('riaaSingle.csv', header=True, index=False, sep='\t', mode='a')
files.download('riaaSingle.csv')

In [ ]:
# Save as .sql

# from google.colab import files
# files.download("BB200.sql")

# from sqlalchemy import create_engine 
# engine = create_engine('sqlite://', echo = False)

# BB.to_sql('BB200', con=engine, if_exists='append')
# from google.colab import files
# files.download("BB200.sql")